<h1>Should I take an umbrella? </h1>

<dl>
  <dt>Users Location</dt>
  <dd><%= @formatted_address %></dd>

  <dt>Latitude</dt>
  <dd><%= @lat %></dd>

  <dt>Longitude</dt>
  <dd><%= @lng %></dd>

  <dt>Current temperature</dt>
  <dd></dd>

  <dt>Current summary</dt>
  <dd></dd>

  <dt>Umbrella?</dt>
  <dd></dd>
</dl>

<a href="/umbrella">Go back</a>
